@using SP_Shopping.Utilities.ImageHandler
@using SP_Shopping.Utilities.ImageHandlerKeys
@model IEnumerable<CartItemDetailsDto>
@inject IImageHandlerDefaulting<ProductImageKey> _productImageHandler

<div class="d-flex flex-column flex-column">
    @foreach (var item in Model)
    {
    <div class="card" style="width: 30em;">
        <div class="row g-0">
        <div class="col-md-4">
        <img 
            src="@_productImageHandler.GetImageOrDefaultURL(new(item.ProductId))"
            class="card-img-top"
            alt="Image for product"
        />
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <div class="card-title card-text-fixer"><strong>@Html.DisplayFor(model => item.SubmitterName)</strong></div>    
            <div class="card-text card-text-fixer">@Html.DisplayFor(model => item.ProductName)</div>
            <div class="card-text card-text-fixer">
            <form asp-action="Edit">
                <input type="hidden" name="@nameof(CartItemDetailsDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                <input type="hidden" name="@nameof(CartItemDetailsDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                <input name="@nameof(CartItemDetailsDto.Count)" asp-for="@item.Count" value="@item.Count" style="width: 4em;" />
                <span asp-validation-for="@item.Count" class="text-danger"></span>
                <input type="submit" value="Update" class="btn btn-secondary btn-sm" />
            </form>
            </div>
            <div class="card-text card-text-fixer">
            <form asp-action="Delete">
                <input type="hidden" name="@nameof(CartItemDetailsDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                <input type="hidden" name="@nameof(CartItemDetailsDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                <input type="submit" value="Remove from cart" class="btn btn-danger btn-sm" />
            </form>
            </div>
        </div>
        </div>
        </div>
    </div>
    }
</div>

@* @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitterName)
        </td>
        <td>
            <form asp-action="Edit">
                <input type="hidden" name="@nameof(CartItemDetailsDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                <input type="hidden" name="@nameof(CartItemDetailsDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                <input name="@nameof(CartItemDetailsDto.Count)" asp-for="@item.Count" value="@item.Count" />
                <span asp-validation-for="@item.Count" class="text-danger"></span>
                <input type="submit" value="Update" class="btn btn-secondary btn-sm" />
            </form>
        </td>
        <td>
            <form asp-action="Delete">
                <input type="hidden" name="@nameof(CartItemDetailsDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                <input type="hidden" name="@nameof(CartItemDetailsDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                <input type="submit" value="Remove from cart" class="btn btn-danger btn-sm" /> |
            </form>
        </td>
    </tr>
}
</tbody>
 *@