@model IEnumerable<CartItemDetailsDto>

<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitterName)
        </td>
        <td>
            <form asp-action="Edit">
                <input type="hidden" name="@nameof(CartItemDetailsDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                <input type="hidden" name="@nameof(CartItemDetailsDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                <input name="@nameof(CartItemDetailsDto.Count)" asp-for="@item.Count" value="@item.Count" />
                <span asp-validation-for="@item.Count" class="text-danger"></span>
                <input type="submit" value="Update" class="btn btn-secondary btn-sm" />
            </form>
        </td>
        <td>
@*          
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
*@
            <form asp-action="Delete">
                <input type="hidden" name="@nameof(CartItemDetailsDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                <input type="hidden" name="@nameof(CartItemDetailsDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                <input type="submit" value="Remove from cart" class="btn btn-danger btn-sm" /> |
            </form>
        </td>
    </tr>
}
</tbody>
