@model IEnumerable<AdminProductDetailsDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_SearchLayout";
}

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.SubmitterId)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.SubmitterName)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.InsertionDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.ModificationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.Id)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.Name)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.Price)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.CategoryName)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.Description)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.SubmitterId)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.SubmitterName)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;" />
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.InsertionDate)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(ProductDetailsDto.ModificationDate)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
            </td>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName) 
            </td>
            <td style="white-space: pre-wrap">@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitterId) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitterName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
