@using SP_Shopping.Utilities.ImageHandler
@using SP_Shopping.Utilities.ImageHandlerKeys
@model IEnumerable<AdminProductDetailsDto>
@inject IImageHandlerDefaulting<ProductImageKey> _imageHandler

@{
    ViewData["Title"] = "Index";
    Layout = "_SearchLayout";
}

<div class="table-responsive">
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th class="text-nowrap">
                Image
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.SubmitterId)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.SubmitterName)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.InsertionDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.ModificationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.Id)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.Name)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.Price)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.CategoryName)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.Description)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.SubmitterId)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.SubmitterName)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.InsertionDate)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(AdminProductDetailsDto.ModificationDate)" />
            </td>
            <td>
            </td>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="unstyled">
                <img class="img-fluid" src="@_imageHandler.GetImageOrDefaultURL(new(item.Id))" asp-append-version=true />
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="unstyled">
                @Html.DisplayFor(modelItem => item.Id)
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="unstyled">
                @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName) 
            </td>
            <td style="white-space: pre-wrap">@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@item.SubmitterId" class="unstyled">
                @Html.DisplayFor(modelItem => item.SubmitterId) 
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@item.SubmitterId" class="unstyled">
                @Html.DisplayFor(modelItem => item.SubmitterName) 
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
