@using SP_Shopping.Utilities.ImageHandler
@model ProductDetailsDto
@inject ProductImageHandler _productImageHandler

<div class="card" style="">
    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" style="text-decoration: none; color: inherit;">
    <img 
        src="@_productImageHandler.GetImageOrDefaultURL(new Product { Id = Model.Id })"
        class="card-img-top"
        alt="Image for product"
    />
    </a>
    <div class="card-body">
        <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" style="text-decoration: none; color: inherit;">
        <div class="card-title card-text-fixer"><strong>@Html.DisplayFor(model => model.Name)</strong></div>    
        <div class="card-text card-text-fixer">@Html.DisplayFor(model => model.Price)</div>    
        <div class="card-text card-text-fixer">@Html.DisplayFor(model => model.CategoryName)</div>    
        </a>
        <a asp-controller="User" asp-action="Index" asp-route-Id="@Model.SubmitterId">
        <div class="card-text card-text-fixer">@Html.DisplayFor(model => model.SubmitterName)</div>
        </a>
    </div>
</div>
