@model IEnumerable<AdminCartItemDetailsDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_SearchLayout";
}

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminCartItemDetailsDto.ProductId)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminCartItemDetailsDto.ProductName)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminCartItemDetailsDto.UserId)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminCartItemDetailsDto.UserName)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminCartItemDetailsDto.SubmitterId)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminCartItemDetailsDto.SubmitterName)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminCartItemDetailsDto.Count)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
            </td>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitterId) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitterName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count) 
            </td>
            <td>
                <form asp-action="Edit">
                    <input type="hidden" name="@nameof(AdminCartItemCreateDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                    <input type="hidden" name="@nameof(AdminCartItemCreateDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                    <input name="@nameof(CartItemDetailsDto.Count)" asp-for="@item.Count" value="@item.Count" />
                    <span asp-validation-for="@item.Count" class="text-danger"></span>
                    <input type="submit" value="Update" class="btn btn-secondary btn-sm" />
                </form>
                <form asp-action="Delete">
                    <input type="hidden" name="@nameof(AdminCartItemCreateDto.UserId)" asp-for="@item.UserId" value="@item.UserId"/>
                    <input type="hidden" name="@nameof(AdminCartItemCreateDto.ProductId)" asp-for="@item.ProductId" value="@item.ProductId"/>
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
