@using SP_Shopping.Utilities.ImageHandler
@using SP_Shopping.Utilities.ImageHandlerKeys
@model AdminUserEditDto
@inject IImageHandlerDefaulting<UserProfileImageKey> _imageHandler
@{
    ViewData["Title"] = "Create";
}

<h1>Update</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id=reset-image-form asp-action="ResetImage" asp-route-Id="@Model.Id">
            <img 
                class="img-fluid" 
                style="width: 10em; aspect-ratio: 1/1"
                src="@(_imageHandler.GetImageOrDefaultURL(new(Model.Id)))" 
            />
            @if (_imageHandler.ImageExists(new(Model.Id)))
            {
                <button type="submit" class="btn-close position-absolute translate-middle badge rounded-pill bg-danger"> </button>
            }
        </form>
        <form asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ProfilePicture" class="control-label"></label>
                <input 
                    asp-for="@Model.ProfilePicture" 
                    class="form-control ratio-1x1"
                    autocomplete="profile picture" 
                    aria-required="true" 
                    placeholder="Please enter profile picture."
                    accept="image/*"
                />
                <span asp-validation-for="@Model.ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserName" class="control-label"></label>
                <input asp-for="@Model.UserName" class="form-control" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Roles" class="control-label"></label>
                <input asp-for="@Model.RoleString" class="form-control" />
                <span asp-validation-for="@Model.RoleString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <textarea asp-for="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
