@model IEnumerable<AdminUserDetailsDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_SearchLayout";
}

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminUserDetailsDto.Id)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminUserDetailsDto.UserName)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminUserDetailsDto.PhoneNumber)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminUserDetailsDto.Email)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminUserDetailsDto.Roles)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminUserDetailsDto.Description)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
                <search>
                <form action="#" method="get" class="d-flex">
                    <input type="search" name="query" aria-label="search" class="form-control me-sm-2" style="min-width: 5em;"/>
                    <input type="hidden" name="type" value="@nameof(AdminUserDetailsDto.InsertionDate)" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>
                </search>
            </td>
            <td>
            </td>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email) 
            </td>
            <td>
                @foreach (var role in item.Roles) {
                    <p>@(role)</p>
                }
            </td>
            <td style="white-space: pre-wrap;">@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertionDate) 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Update</a>
                <form asp-action="Delete" asp-route-id="@item.Id">
                    <input type="submit" value="Remove user" class="btn btn-danger btn-sm" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
