@model IEnumerable<CategoryGetDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_SearchLayout";
}

<div class="table-responsive">
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(Category.Id)" />
            </td>
            <td>
                <partial name="_AdminPanelSearchBarPartial" model="@nameof(Category.Name)" />
            </td>
            <td>
            </td>
        </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
