@model IEnumerable<ProductDetailsDto>

@{
    ViewData["Title"] = "Home Page";
    string? UserId = (string?)ViewBag.UserId;
    string? UserName = (string?)ViewBag.UserName;
}

<div class="text-center">
    <h1 class="display-4">Welcome @UserName</h1>
    <p class="align-content-center">@(!string.IsNullOrWhiteSpace(UserId) ? $"{nameof(UserId)} is {UserId}" : "No user is logged in")</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); gap: 0.5em;">
    @foreach (var product in Model)
    {
        <div style=" border: solid gray 0.1875em; text-align: center; padding: 0.1875em;">
            <div>@product.Name</div>    
            <div>@product.Price</div>    
            <div>@product.CategoryName</div>    
            <div>@product.SubmitterName</div>
        </div>
    }
    </div>
</div>
