@model IEnumerable<ProductDetailsDto>

@{
    ViewData["Title"] = "Home Page";
    string? UserId = (string?)ViewBag.UserId;
    string? UserName = (string?)ViewBag.UserName;
}

<div class="text-center">
    <h1 class="display-4">Welcome @UserName</h1>
    <p class="align-content-center">@(!string.IsNullOrWhiteSpace(UserId) ? $"{nameof(UserId)} is {UserId}" : "No user is logged in")</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
    @foreach (var product in Model)
    {
        <div style="display: inline-block; width: 200px; height: 100px; border: solid gray 3px; text-align: center">
            <div>@product.Name</div>    
            <div>@product.Price</div>    
            <div>@product.CategoryName</div>    
            <div>@product.SubmitterName</div>
        </div>
    }
    </div>
</div>
