@model IEnumerable<ProductDetailsDto>

@{
    ViewData["Title"] = "Home Page";
    string? UserId = (string?)ViewBag.UserId;
    string? UserName = (string?)ViewBag.UserName;
}

<div class="text-center">
    <h1 class="display-4">Welcome @UserName</h1>
    <p class="align-content-center">@(!string.IsNullOrWhiteSpace(UserId) ? $"{nameof(UserId)} is {UserId}" : "No user is logged in")</p>
    
    <div class="my-4">
        <partial name="_SearchFormPartial" model="@("Products", "Search", "query")"/>
    </div>
    
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); gap: 0.5em; grid-auto-rows: 1fr;">
    @foreach (var product in Model)
    {
        <div style="border: solid gray 0.1875em; text-align: center; padding: 0.1875em; height:100%;">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" style="text-decoration: none; color: inherit;">
            <div>@product.Name</div>    
            <div>@product.Price</div>    
            <div>@product.CategoryName</div>    
            </a>
            <a asp-controller="User" asp-action="Index" asp-route-Id="@product.SubmitterId">
            <div>@product.SubmitterName</div>
            </a>
        </div>
    }
    </div>
</div>
