@using Microsoft.AspNetCore.Identity
@using SP_Shopping.Utilities
@model UserPageDto
@inject UserManager<ApplicationUser> _userManager
@inject IDefaultingImageHandler<IdentityUser> _userImageHandler

@{
    ViewData["Title"] = "UserPage";
}

<h1>User info:</h1>

<img class="img-fluid" style="width: 10em; aspect-ratio: 1/1;" src="@_userImageHandler.GetImageOrDefaultURL(new ApplicationUser() {Id = Model.Id})" />

<p>@Html.DisplayNameFor(u => u.UserName): @Html.DisplayFor(u => u.UserName)</p>
<p>@Html.DisplayNameFor(u => u.Email): @Html.DisplayFor(u => u.Email)</p>
<p style="white-space: pre-wrap;">@Html.DisplayNameFor(u => u.Description): 
@Html.DisplayFor(u => u.Description)</p>
<p>@Html.DisplayNameFor(u => u.InsertionDate): @Html.DisplayFor(u => u.InsertionDate)</p>

<h2>Products</h2>
@if (Model.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <a asp-controller="Products" asp-action="Create" class=" btn btn-primary my-3">Create New</a>
}
@if (Model.ProductDetails is not null)
{
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); gap: 0.5em; grid-auto-rows: 1fr;">
    @foreach (var product in Model.ProductDetails)
    {
    <a asp-controller="Products" asp-action="Details" asp-route-Id="@product.Id" style="text-decoration: none; color: inherit;">
    <dl class="border border-primary p-2">
        <dt>@Html.DisplayNameForInnerType((UserPageDto.UserPageProductDto p) => p.Name)</dt>
        <dd>@Html.DisplayFor(p => product.Name)</dd>
        <dt>@Html.DisplayNameForInnerType((UserPageDto.UserPageProductDto p) => p.Price)</dt>
        <dd>@Html.DisplayFor(p => product.Price)</dd>
        <dt>@Html.DisplayNameForInnerType((UserPageDto.UserPageProductDto p) => p.CategoryName)</dt>
        <dd>@Html.DisplayFor(p => product.CategoryName)</dd>
    </dl>
    </a>
    }
    </div>
}
