@model ApplicationUser

@{
    ViewData["Title"] = "UserPage";
}

<h1>User info:</h1>
<p>Name = @Model.UserName</p>
<p>Email = @Model.Email</p>

<h2>Products</h2>
@if (Model.Products is not null)
{
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); gap: 0.5em; grid-auto-rows: 1fr;">
    @foreach (Product product in Model.Products)
    {
    <a asp-controller="Products" asp-action="Details" asp-route-Id="@product.Id" style="text-decoration: none; color: inherit;">
    <dl class="border border-primary p-2">
        <dt>@Html.DisplayNameForInnerType((Product p) => p.Name)</dt>
        <dd>@product.Name</dd>
        <dt>@Html.DisplayNameForInnerType((Product p) => p.Price)</dt>
        <dd>@product.Price</dd>
        <dt>@* @Html.DisplayNameForInnerType((Product p) => p.Category.Name) *@Category Name</dt>
        <dd>@product.Category.Name</dd>
    </dl>
    </a>
    }
    </div>
}
